:root {

    --background-stripe: #009688;
    --intro-border: #4ADF83;
    --intro-background: #F8F9FA;
    --background-default: #FFF;
    --primary-title: #525252;
    --primary: #4A4A4A;
    --intro-secondary: #00000073;
    --border-stronger: #00000014;
    --button-secondary: #07BC4C;
    --icon-fixed: #919191;
    --panel-icon: invert(0.6);
    --panel-header-background: #EDEDED;
    --panel-header-icon: #919191;
    --shadow-rgb: 0, 0, 0;
    --search-container-background: #F6F6F6;
    --search-input-background: #FFF;
    --input-placeholder: #999;
    --background-default: #FFF;
    --border-list: #F2F2F2;
    --primary-strong: #000;
    --secondary-lighter: #00000073;
    --secondary: #00000099;
    --background-default-active: #EBEBEB;

}

*, *::after, *::before {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 
        'Segoe UI', Tahoma, Geneva, 
        Verdana, Helvetica, 'Helvetica Neue',
        'Lucida Grande', Arial, Ubuntu,
        Cantarell, 'Fira Sans', sans-serif;

}

body {

    background-color: #dddbd1;
    background-image: linear-gradient(180deg, #dddbd1, #d2dbdc);
    height: 100vh;
    width: 100vw;

}

body::after {

    content: "";
    position: fixed;
    top: 0;
    width: 100%;
    height: 130px;
    z-index: -1;
    background: var(--background-stripe);

}

.container {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

main.main {

    width: 1400px;
    display: flex;
    justify-content: space-between;
    top: 19px;
    height: calc(100% - 40px);

}

.main-chat {

    background: var(--intro-background);
    flex: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 6px solid var(--intro-border);

}

.side-bar {

    background: var(--background-default);
    flex: 30%;
    height: 100%;

}

.default-page {

    width: 80%;
    max-width: 460px;
    text-align: center;

}

h1.connected {

    color: var(--primary-title);
    font-weight: 300;
    font-size: 36px;
    margin-top: 40px;

}

p.desc, p.info {

    color: var(--intro-secondary);
    font-size: 14px;
    line-height: 20px;

}

p.desc {

    margin-top: 24px;

}

.division {

    margin-top: 34px;
    margin-bottom: 34px;
    height: 1px;
    background-color: var(--border-stronger);

}

p.info {

    display: flex;
    align-items: center;
    justify-content: center;

}

p.info > a {

    text-decoration: none;
    color: var(--button-secondary);
    margin-left: 5px;

}

p.info > svg {

    margin-right: 5px;
    margin-top: 1px;
    color: var(--icon-fixed);

}

header.header {

    height: 60px;
    background-color: var(--panel-header-background);
    display: flex;
    padding: 10px 15px;
    justify-content: space-between;
    align-items: center;

}

header.header > .profile > button.btn-profile,
header.header > .profile,
header.header > .profile > button.btn-profile > img {

    border-radius: 50%;
    outline: none;
    display: flex;
    align-content: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 40px;

}

header.header > .options {

    display: flex;
    align-items: center;
    justify-content: center;

}

header.header > .options > * {

    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 8px;
    outline: none;
    background: none;

}

header.header > .options > *:focus {

    background: rgb(var(--shadow-rgb), .1);

}

header.header > .options > * > img {

    width: 24px;
    height: 24px;
    filter: var(--panel-icon);
    display: flex;
    justify-content: center;
    align-items: center;

}

header.header > .options > button + button {

    margin-left: 10px;

}

.side-bar > .search-bar {

    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--search-container-background);
    transition: 0.4s;
    border-bottom: 1px solid var(--border-list);

}

.side-bar > .search-bar:focus-within {

    background: var(--search-input-background);
    transition: 0.4s;

}

.side-bar > .search-bar > .search-bar-handler {

    width: 95%;
    background: var(--search-input-background);
    display: flex;
    padding: 5px;
    border-radius: 20px;

}


.side-bar > .search-bar > .search-bar-handler > button.search {

    border: none;
    background: none;
    filter: var(--panel-icon);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    margin-left: 10px;

}

.side-bar > .search-bar > .search-bar-handler > input.search-chat {

    border: none;
    margin-left: 20px;
    outline: none;
    width: calc(100% - 10px);
    font-size: 14px;
    color: var(--primary);

}

.side-bar > .search-bar > .search-bar-handler > input.search-chat::placeholder {

    color: var(--input-placeholder)

}

::-webkit-scrollbar {

    width: 6px;
    height: 6px;

}

::-webkit-scrollbar-thumb {

    background-color: #00000033;
    border-radius: 8px;

}

::-webkit-scrollbar-track {

    background-color: #ffffff1a;

}

.side-bar > .chats {

    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
    height: calc(100% - 110px);

}

.side-bar > .chats > .chat {

    width: 100%;
    height: 70px;
    background: var(--background-default);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

}

.side-bar > .chats > .chat:focus,
.side-bar > .chats > .chat:hover {

    background: var(--background-default-active);

}

.side-bar > .chats > .chat > img.chat-profile {

    height: 40px;
    padding: 0 15px 0 13px;

}

.side-bar > .chats > .chat > .chat-infos {

    padding-right: 15px;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    min-width: 0;
    width: 100%;
    height: 72px;
    border-top: 1px solid var(--border-list);

}

.side-bar > .chats > .chat > .chat-infos > .top-chat {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.side-bar > .chats > .chat > .chat-infos > .top-chat > p.chat-name {

    display: inline-block;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 17px;
    color: var(--primary-strong);

}

.side-bar > .chats > .chat > .chat-infos > .top-chat > p.chat-time {

    line-height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    color: var(--secondary-lighter);

}

.side-bar > .chats > .chat > .chat-infos > .bottom-chat {

    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    min-height: 20px;
    display: flex;
    align-items: center;
    margin-top: 2px;
    color: var(--secondary);

}

.side-bar > .chats > .chat > .chat-infos > .bottom-chat > .message {

    display: flex;

}

.side-bar > .chats > .chat > .chat-infos > .bottom-chat > .message > .sender {

    font-size: 15px;
    font-weight: 400;
    flex-grow: 1;
    text-align: left;

}

@media screen and (max-width: 1440px) {

    main.main {

        width: 100%;
        height: 100%;

    }

}

@media screen and (max-height: 740px) {

    .default-page > .intro-img > img {

        width: 250px;
        height: 250px;

    }

}